@import '../../index.scss';

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0 auto;
  max-width: $max-form-width;
  height: fit-content;
}
