@import '../../vars.scss';

.prompt-history-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: $max-form-width;
  margin: 3rem auto;

  label {
    padding-bottom: 0.5rem;

    font-size: 0.9rem;
    font-weight: 500;
  }

  .prompts {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  button.clear-history-btn {
    height: fit-content;
    width: fit-content;
    margin-top: 1rem;

    border: none;
    border-radius: $border-radius;

    background: none;
    color: $secondary-text;
    font-size: 0.8rem;

    cursor: pointer;

    &:focus {
      border: 2px solid $outline;
    }
    &:hover {
      color: $primary-text;
    }
  }
}
