@import '../../index.scss';

.prompt-history-container {
  display: flex;
  flex-direction: column;
  max-width: $max-form-width;
  margin: 3rem auto;

  label {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
  }

  .prompts {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
