@import '../../index.scss';

.prompt-history-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: $max-form-width;
  margin: 3rem auto;

  label {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
  }

  .prompts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  button.clear-prompt-btn {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    border-radius: $border-radius;
    color: $secondary-text;
    margin-top: 1rem;
    font-size: 0.8rem;
    cursor: pointer;

    &:focus {
      outline: 2px solid $outline;
    }
    &:hover {
      color: $primary-text;
    }
  }
}
