@import '../../vars.scss';

nav {
  display: flex;
  flex-shrink: 0;
  justify-content: center;

  height: 4rem;
  width: 100%;
  padding-top: 0.5rem;

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    max-width: $max-nav-width;

    .right {
      display: flex;
      align-items: center;
      height: 100%;

      .social-icons {
        display: flex;
        gap: 1rem;
      }
      a {
        .icon {
          height: 26px;
          width: 26px;
          color: $secondary-text;
        }
        &:hover {
          .icon {
            color: $primary-text;
          }
        }
      }
    }
  }
}
