@import './vars.scss';

// GENERAL / CONTAINER STYLES
html,
body {
  overflow-x: hidden;

  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
}
.app {
  overflow: auto;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  background: $primary-background;
  color: $primary-text;
  font-family: $font-family;

  .page-content {
    flex: 1 0 auto;
  }
}

p {
  padding: 0;
  margin: 0;

  color: $secondary-text;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

input,
textarea {
  padding: 0.5rem;
  box-sizing: border-box;

  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  outline: 0;

  background: none;
  color: $primary-text;

  &:focus {
    margin: -1px; // Prevent border width increase from changing box-size
    border: 2px solid $outline;
  }
}
textarea {
  resize: vertical;
}

.btn {
  padding: 0.5rem 1rem;
  box-sizing: border-box;

  border: 0;
  border-radius: $border-radius;
  outline: 0;

  background: none;
  color: $primary-text;
  border: 1px solid $input-border-color;
  font-weight: 600;
  font-size: 1rem;

  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid $outline;
    color: $primary-color;
  }
}
