// Import Montserrat font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
@import './themes.scss';

// VARIABLES

$primary-background: color(primary-background);
$primary-text: color(primary-text);
$secondary-text: color(secondary-text);
$font-family: 'Montserrat', sans-serif;

// GENERAL / CONTAINER STYLES
html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
}
.app {
  overflow: auto;
  height: 100%;
  width: 100%;

  background: $primary-background;
  color: $text-color;
  font-family: $font-family;
}

p {
  color: $secondary-text;
}
