// Import Montserrat font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
@import './themes.scss';

// VARIABLES

$primary-background: color(primary-background);
$secondary-background: color(secondary-background);
$primary-text: color(primary-text);
$secondary-text: color(secondary-text);
$tertiary-text: color(tertiary-text);
$primary-color: color(primary-color);

$error-color: #ff5f5f;

$font-family: 'Montserrat', sans-serif;

$max-form-width: 550px;

$max-nav-width: 800px;

// Input/textarea variables
$input-border-color: color(input-border-color);
$outline: color(outline);
$border-radius: 5px;
$max-input-width: 500px;

$prompt-history-card-background: color(prompt-history-card-background);

// GENERAL / CONTAINER STYLES
html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;

  background: $primary-background;
  color: $primary-text;
  font-family: $font-family;

  .page-content {
    flex: 1 0 auto;
  }
}

p {
  padding: 0;
  margin: 0;

  color: $secondary-text;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

input,
textarea {
  padding: 0.5rem;
  border: 0;
  border-radius: $border-radius;
  outline: 1px solid $input-border-color;
  box-sizing: border-box;

  background: none;
  color: $primary-text;

  &:focus {
    outline: 2px solid $outline;
  }
}
textarea {
  resize: vertical;
}

.btn {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: $border-radius;
  outline: 0;

  // background: $primary-color;
  background: none;
  // color: $primary-background;
  color: $primary-text;
  outline: 1px solid $input-border-color;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 2px solid $outline;
    color: $primary-color;
  }
}

// NOTIFICATIONS STYLES
// .Toastify__toast {
//   background
// }
