.app {
  --primary-background: #292929;
  --secondary-background: #333333;
  --primary-text: #e9ecf0;
  --secondary-text: #94989e;
  --tertiary-text: #6f7277;
  --primary-color: #bb86fc;
  --input-border-color: #7a7979;
}

.app.light-theme {
  --primary-background: #eee;
  --secondary-background: #d6d6d6;
  --primary-text: #303841;
  --secondary-text: #595f66;
  --tertiary-text: #7c8288;
  --primary-color: #a862fd;
  --outline: #a862fd;

  --prompt-history-card-background: #e0e0e0;

  --input-border-color: #bebebe;
}

@function color($color-name) {
  @return var(--#{$color-name});
}
